<div class="container">
    <div class="row mt-3">
        <div class="col">
    <div class="card mb-3  shadow bg-dark border-secondary">
    
  <img src="{{serie.imageUrl}}" class="card-img-top img-fluid" alt="{{serie.title}} logo" style="height: 250px; object-fit: cover;">
          <span class="badge text-bg-danger d-flex justify-content-center mt-2"><h4>{{serie.title}}</h4></span>
<div class="ratio ratio-16x9 mt-2">
  <iframe
    src="{{serie.youtubeUrl}}"
    title="YouTube video"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>
</div>
    </div>
    </div>
</div>