
     <div class="d-flex justify-content-center mt-5">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/error-404-illustration-svg-download-png-5501655.png" alt="">
        
        </div>
         <div class="mt-3 d-flex justify-content-center">
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
